@layer base {
    body {
        @apply font-primary font-normal text-sm mx-auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    input,
    button {
        @apply outline-none
    }
}

.text-gradient {
    background: linear-gradient(135deg, #fa00ff, #00e0ff 50%, #fa00ff);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 500%;
    color: #0000;
}

.slider-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    /* hỗ trợ cho iOS */
}

.slider-item {
    flex: 0 0 100%;
    scroll-snap-align: center;
}

.grid-photo {
    grid-column-gap: 24px;
    align-items: start;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    &-list {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        row-gap: 24px;
    }

    &-content {
        opacity: 0;
        visibility: hidden;
        transition: all linear 0.125s;
    }

    &-group:hover .grid-photo-content {
        opacity: 1;
        visibility: visible;
    }
}